<h1>Listing sites</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
<%= render @sites %>
</tbody>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
